@charset "utf-8";

* {
  touch-action: manipulation;
}

html,
body {
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
}

html {
  background: #101010;
  font-family: -apple-system, 'Segoe UI', 'DejaVu Sans', system-ui, sans-serif;
}

canvas {
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
}

#a {
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
}

#a,
#p,
#u {
  height: 540px;
  width: 960px;
}

#p,
#u {
  left: 0;
  position: absolute;
  top: 0;
}
